<nav id="main-menu">
	<div class="container">
		<div id="logo">
			<a href="#">
				Logo hier
			</a>		
		</div>
		<% if(!loggedin) { %>
		<form id="login_form" method="post" action="/loginpost">
			<h5> Already have an account? Log in </h5>
			<input type="email" name="email" placeholder="Emailadress" class="form-control">
			<input type="password" name="password" placeholder="Password" class="form-control">
			<input type="submit" value="login" class="form-control btn btn-primary">
		</form>
		<% } else {%>
		<ul>
			<li>
				<a href="/timeline">
					Home
				</a>
			</li>
		</ul>	
		<form method="GET" id="user_search">
			<input  type="text" 
					class="form-control"
					placeholder="Find Friends" 
					name="search-friends">
		</form>
		<ul id="profile">
			<li>
				<a href="/profile/me">
					Profile
				</a>
							<li>
				<a href="/logout">
					<i class="fa fa-sign-out" aria-hidden="true"></i>
					Log uit
				</a>
			</li>
			</li>				
		</ul>
		<% } %>
	</div>	
</nav>
<script>
	( function() {

	$('#btn-search').on('click', function(e) {

		e.preventDefault();
		$('#search').animate({width: 'toggle'}).focus();
</script>