/*================
Global
==================*/
a{
	text-decoration:none!important;
}
/*================
Main menu
==================*/
#main-menu{
	height:80px;
	background:#e0e0e0;
	width:100%;
	border-bottom:1px solid white;
	position:relative;

	#logo{
		width:100px;
		float:left;

		a{
			line-height:80px;
		}
	}
	ul{
		margin:0;
		float:left;
		padding-left:20px;
		li{
			font-size:18px;
			list-style:none;
			padding:0 15px;
			line-height:80px;
		}
	}
	#profile{
		float:right;

		li{
			float:left;
		}
	}

	#login_form{
		float:right;

		.form-control{
			display:inline;
			width:auto;
			padding:3px 12px;
		}
	}

	#user_search{
		max-width:250px;
		width:100%;
		margin:0 auto;
		input{
			height:40px;
			max-width:250px;
			width:100%;
			top:50%;
			margin-top:-20px;
			position:absolute;
		}
	}
}
/*================
Register
==================*/
#register{
	padding-top:60px;

	.registerform{
		border-bottom:1px solid #e0e0e0;
		padding-bottom:20px;
		input{
			margin-bottom:15px;
		}
	}

	#tekst{
		padding:0 40px;
		p{
			line-height:1.7;
		}
	}
}
/*================
timeline
==================*/
#timeline{
	.container{
		text-align:center;
		padding-top:100px;
		h4{
			margin:0 20px;
			display:inline;
		}
	}

	.global-tl{
		background:#e0e0e0;
		max-width:550px;
		width:100%;
		margin:0 auto;
		margin-top:30px;
		text-align:left;
		padding:20px;
	}	
#post-range{
	max-width:510px;
	margin:0 auto;

	button{
		float:left;
	}

	.word-count{
		float:right;
		font-style:italic;
	}
	textarea{
		max-width:510px;
		width:100%;
		margin:0 auto;
		margin-bottom:15px;
	}
	#choice-section{
		display:inline;
		a{
			margin-right:15px;
		}
	}
}
	#roasts{
		.post{
			display:block;
			margin:0 auto;
			width:100%;
			margin-bottom:30px;
			background:white;
			.main-post{
				position:relative;
				.more{
					font-size:25px;
					padding:0 10px;
					position:absolute;
					top:0;
					margin-top:-30px;
					color:black;
					right:0;
				}
			}
			.option-section{
				border-bottom:1px solid #cccccc;
				padding:0px 10px;
				height:40px;
				a{
					line-height:40px;	
					font-size:16px;				
				}
				span{
					padding:0 9px;
				}
			}
			.story{
				border-bottom:1px solid #cccccc;
				padding:12px;
			}

			img{
				margin:0 auto;
				display:block;
			}
			p, span, h5{
				padding:0 52px;
				font: inherit;
    			vertical-align: baseline;
			}
			.postheader{
				display:block;
				position:relative;
				padding-left:50px;
				height:70px;
				margin-bottom:30px;
				padding:0;
				border-bottom:1px solid #e0e0e0;
				line-height:50px;

				.avatar{
					top:50%;
					margin-top:-25px;
					border-radius:50%;
					border:2px solid gray;
					margin-left:20px;
					position:absolute;
				}
				h4{
					padding-left:70px;
					line-height:70px;
				}
				span{
					float:right;
					border-left:1px solid #e0e0e0;
					padding:0 10px;
					line-height:70px;
				}
			}
			.description{
				border-bottom:1px solid #cccccc;
				padding:12px;
				margin-bottom:0;
			}
			.comments{
				span{
					padding:0 12px;
				}
				.username{
					font-weight:700;
					float:left;
					font-size:16px;
				}
				.comment{
					display:flex;
				}
				.commentonly{
					border-bottom:1px solid #cccccc;
					padding:10px 0;
					margin-bottom:10px;
				}
			}
		}

		#postroast{
			float:left;
		}
	}
}
/*==================
Profile
==================*/
.profile_page{
	.profile-header{
		background:#e0e0e0;
		border-bottom:2px solid gray;

		img{
			width:100%;
			height:100%;
		}
	}
	.profile-data{
		//background:red;
		border-radius:10px 10px 0 0;
		margin-top:-100px;
		.avatar{
			border-radius:50%;
			display:block;
			margin:0 auto;
			margin-top:30px;
			border:3px solid gray;
		}
		.user-content{
			margin-bottom:20px;
			text-align:center;
				.filter{
					padding:10px 0;
				a{
					margin:0 10px;
				}
			}
		}
		button{
			width:100%;
			margin-top:10px;
			padding:7px 0;

			i{
				font-size:16px;
			}
		}
	}
	.user-interaction-data{
		margin-top:-3px;
		border:2px solid gray;
		border-top:none;
		padding:15px;
		text-align:center;
		border-radius: 0 0 5px 5px;
		background:#cccccc;
		span{
			 font-size:18px;
		}
		i{
			font-size:19px;
		}
		span::after{
			content:"";
			margin:0 15px;
			border-right:1px solid gray;
		}
	}

	.user_posts{
		padding-top:50px;

		img{
			margin:15px 0;
		}
	}
}
/*==================
footer
==================*/
footer{
	padding-top:60px;
}