/*================
Global
==================*/
a {
  text-decoration: none !important; }

/*================
Main menu
==================*/
#main-menu {
  height: 80px;
  background: #e0e0e0;
  width: 100%;
  border-bottom: 1px solid white;
  position: relative; }
  #main-menu #logo {
    width: 100px;
    float: left; }
    #main-menu #logo a {
      line-height: 80px; }
  #main-menu ul {
    margin: 0;
    float: left;
    padding-left: 20px; }
    #main-menu ul li {
      font-size: 18px;
      list-style: none;
      padding: 0 15px;
      line-height: 80px; }
  #main-menu #profile {
    float: right; }
    #main-menu #profile li {
      float: left; }
  #main-menu #login_form {
    float: right; }
    #main-menu #login_form .form-control {
      display: inline;
      width: auto;
      padding: 3px 12px; }
  #main-menu #user_search {
    max-width: 250px;
    width: 100%;
    margin: 0 auto; }
    #main-menu #user_search input {
      height: 40px;
      max-width: 250px;
      width: 100%;
      top: 50%;
      margin-top: -20px;
      position: absolute; }

/*================
Register
==================*/
#register {
  padding-top: 60px; }
  #register .registerform {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 20px; }
    #register .registerform input {
      margin-bottom: 15px; }
  #register #tekst {
    padding: 0 40px; }
    #register #tekst p {
      line-height: 1.7; }

/*================
timeline
==================*/
#timeline .container {
  text-align: center;
  padding-top: 100px; }
  #timeline .container h4 {
    margin: 0 20px;
    display: inline; }

#timeline .global-tl {
  background: #e0e0e0;
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: left;
  padding: 20px; }

#timeline #post-range {
  max-width: 510px;
  margin: 0 auto; }
  #timeline #post-range button {
    float: left; }
  #timeline #post-range .word-count {
    float: right;
    font-style: italic; }
  #timeline #post-range textarea {
    max-width: 510px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px; }
  #timeline #post-range #choice-section {
    display: inline; }
    #timeline #post-range #choice-section a {
      margin-right: 15px; }

#timeline #roasts .post {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
  background: white; }
  #timeline #roasts .post .main-post {
    position: relative; }
    #timeline #roasts .post .main-post .more {
      font-size: 25px;
      padding: 0 10px;
      position: absolute;
      top: 0;
      margin-top: -30px;
      color: black;
      right: 0; }
  #timeline #roasts .post .option-section {
    border-bottom: 1px solid #cccccc;
    padding: 0px 10px;
    height: 40px; }
    #timeline #roasts .post .option-section a {
      line-height: 40px;
      font-size: 16px; }
    #timeline #roasts .post .option-section span {
      padding: 0 9px; }
  #timeline #roasts .post .story {
    border-bottom: 1px solid #cccccc;
    padding: 12px; }
  #timeline #roasts .post img {
    margin: 0 auto;
    display: block; }
  #timeline #roasts .post p, #timeline #roasts .post span, #timeline #roasts .post h5 {
    padding: 0 52px;
    font: inherit;
    vertical-align: baseline; }
  #timeline #roasts .post .postheader {
    display: block;
    position: relative;
    padding-left: 50px;
    height: 70px;
    margin-bottom: 30px;
    padding: 0;
    border-bottom: 1px solid #e0e0e0;
    line-height: 50px; }
    #timeline #roasts .post .postheader .avatar {
      top: 50%;
      margin-top: -25px;
      border-radius: 50%;
      border: 2px solid gray;
      margin-left: 20px;
      position: absolute; }
    #timeline #roasts .post .postheader h4 {
      padding-left: 70px;
      line-height: 70px; }
    #timeline #roasts .post .postheader span {
      float: right;
      border-left: 1px solid #e0e0e0;
      padding: 0 10px;
      line-height: 70px; }
  #timeline #roasts .post .description {
    border-bottom: 1px solid #cccccc;
    padding: 12px;
    margin-bottom: 0; }
  #timeline #roasts .post .comments span {
    padding: 0 12px; }
  #timeline #roasts .post .comments .username {
    font-weight: 700;
    float: left;
    font-size: 16px; }
  #timeline #roasts .post .comments .comment {
    display: flex; }
  #timeline #roasts .post .comments .commentonly {
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
    margin-bottom: 10px; }

#timeline #roasts #postroast {
  float: left; }

/*==================
Profile
==================*/
.profile_page .profile-header {
  background: #e0e0e0;
  border-bottom: 2px solid gray; }
  .profile_page .profile-header img {
    width: 100%;
    height: 100%; }

.profile_page .profile-data {
  border-radius: 10px 10px 0 0;
  margin-top: -100px; }
  .profile_page .profile-data .avatar {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border: 3px solid gray; }
  .profile_page .profile-data .user-content {
    margin-bottom: 20px;
    text-align: center; }
    .profile_page .profile-data .user-content .filter {
      padding: 10px 0; }
      .profile_page .profile-data .user-content .filter a {
        margin: 0 10px; }
  .profile_page .profile-data button {
    width: 100%;
    margin-top: 10px;
    padding: 7px 0; }
    .profile_page .profile-data button i {
      font-size: 16px; }

.profile_page .user-interaction-data {
  margin-top: -3px;
  border: 2px solid gray;
  border-top: none;
  padding: 15px;
  text-align: center;
  border-radius: 0 0 5px 5px;
  background: #cccccc; }
  .profile_page .user-interaction-data span {
    font-size: 18px; }
  .profile_page .user-interaction-data i {
    font-size: 19px; }
  .profile_page .user-interaction-data span::after {
    content: "";
    margin: 0 15px;
    border-right: 1px solid gray; }

.profile_page .user_posts {
  padding-top: 50px; }
  .profile_page .user_posts img {
    margin: 15px 0; }

/*==================
footer
==================*/
footer {
  padding-top: 60px; }
