<div id="post-range">
	<p>Start a roast by means of a image or a story</p>
	<form method="post">
		<textarea class="message" rows="6" maxlength="255" name="story" placeholder="Start a roast by sharing your story!" class="form-control"></textarea><!-- limit to 255(string) -->
		<button class="btn btn-primary" type="button">
			<i class="fa fa-envelope"></i>
			Start the roast!
		</button>
	</form>
	<% include ../timeline/filter %>
	<p class="word-count"><span class="countdown"></span></p><!-- temp fix in JQuery-->
</div>
<div class="global-tl" id="roasts">
	<div class="row">
		<div class="col-md-12">
			<div class="post">
				<div class="postheader">
					<a href="#">
						<img class="avatar" src="http://placehold.it/50x50">	
						<h4>
						 	Gebruikersnaam hier
						</h4>
					</a>
					<span>11 min ago</span>
				</div>
				<div class="main-post">
					<a class="more" href="#">
						<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
					</a>
					<img class="img-responsive" src="http://placehold.it/400px300">
					<h5 class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae vehicula mauris. Suspendisse quis ex aliquet, tincidunt augue nec, rhoncus magna.
					</h5>
					<div class="option-section">
						<a href="#"><span> Like </span></a>
						<span>Aantal likes: <b>50</b></span>
					</div>
				</div>	
				<div class="comments">
					<div class="commentonly">
						<div class="user-commented">
							<span class="username">user(30):</span>
						</div>
						<div class="comment">
							<span>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae vehicula mauris. Suspendisse quis ex aliquet, tincidunt augue nec, rhoncus magna.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae vehicula mauris. Suspendisse quis ex aliquet, tincidunt augue nec, rhoncus magna.
							</span>
						</div>
					</div>	
				</div>
			</div>
			<div class="post">
				<div class="postheader">
					<a href="#">
						<img class="avatar" src="http://placehold.it/50x50">	
						<h4>
						 	Gebruikersnaam hier
						</h4>
					</a>
					<span>11 min ago</span>
				</div>
				<p class="story">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae vehicula mauris. Suspendisse quis ex aliquet, tincidunt augue nec, rhoncus magna.
				</p>
				<div class="comments">
					<div class="commentonly">
						<div class="user-commented">
							<span class="username">user(30):</span>
						</div>
						<div class="comment">
							<span>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae vehicula mauris. Suspendisse quis ex aliquet, tincidunt augue nec, rhoncus magna.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vitae vehicula mauris. Suspendisse quis ex aliquet, tincidunt augue nec, rhoncus magna.
							</span>
						</div>
					</div>	
				</div>
			</div>					
		</div>
	</div>
</div>