<!DOCTYPE html>
<html>
</html>
<body class="container">
    <header>
        <% include ../partials/head %>
        <% include ../partials/header %>

    </header>

    <main>
        <div class="jumbotron">
            <p>Ooops. Something went wrong :( please try again otherwise contact us.</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>