<!DOCTYPE html>
<html>
</html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<main>
		<% include ../partials/userauthentication/profile %>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>