<!DOCTYPE html>
<html>
</html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<main id="timeline">
		<div class="container">
			<h4>
				<a href="#">
					Roasts
				</a>
			</h4>
			<h4>
				<a href="#">
					Memes and jokes
				</a>
			</h4>
			<% include ../partials/timeline/roast %>
		</div>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>
</body>