<div class="profile_page">
	<div class="profile-header">
		<img src="http://placehold.it/1920x350">
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-3 profile-data">
				<img class="avatar img-responsive" src="http://placehold.it/150x150">
				<div class="user-content">
					<h3><i class="fa fa-user" aria-hidden="true"></i> <%= Name %></h3>
					<p>About here</p>
					<span> www.website.com</span>
					<button class="btn btn-success">
					<i class="fa fa-user-plus" aria-hidden="true"></i>
						Follow
					</button>
					<div class="filter">
						<a href="#">
							Show photos
						</a>
						<a href="#">
							Show Stories
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="user-interaction-data">
					<span><i class="fa fa-users" aria-hidden="true"></i> Followers: 1200</span>
					<span>Following: 20</span>
					<span><i class="fa fa-plus-circle" aria-hidden="true"></i> 234</span>
					<span>Position: #4</span>
					<i class="fa fa-cog"></i>
				</div>
				<div class="user_posts">
					<div class="row">
						<div class="col-md-4">
							<img class="img-responsive" src="http://placehold.it/900x800">
						</div>
						<div class="col-md-4">
							<img class="img-responsive" src="http://placehold.it/900x800">
						</div>
						<div class="col-md-4">
							<img class="img-responsive" src="http://placehold.it/900x800">
						</div>
						<div class="col-md-4">
							<img class="img-responsive" src="http://placehold.it/900x800">
						</div>
						<div class="col-md-4">
							<img class="img-responsive" src="http://placehold.it/900x800">
						</div>
						<div class="col-md-4">
							<img class="img-responsive" src="http://placehold.it/900x800">
						</div>									
					</div>	
				</div>
			</div>
		</div>		
	</div>	
</div>
