<div id="register">
	<div class="container">
		<div class="row">
			<div class="col-md-6 registerform">
				<h3> Register here!(it is free) </h3>
				<div class="row">
					<form method="POST" action="/register">
						<div class="col-md-8">
						<input 
							type="email"
							name="email" 
							class="form-control"
							placeholder="Your Emailadress">
						</div>
						<div class="col-md-4">
						<input 
							type="text" 
							name="displayName"
							class="form-control"
							placeholder="Your name">
						</div>						
						<div class="col-md-6">	
						<input 
							type="password"
							name="password"
							class="form-control"
							placeholder="Your Password">	
						</div>
						<div class="col-md-6">	
						<input 
							type="password"
							name="retypePass"
							class="form-control"
							placeholder="Retype your password">	
						</div>
						<div class="col-md-6">
							<input 
								type="submit" 
								class="form-control btn btn-primary">
						</div>	
					</form>
				</div>
				<div class="row">
					<div class="col-md-7">
						<p>					
							Lorem ipsum <a href="#">Algemene voorwaarden</a> sit amet,  consectetur adipiscing elit. Pellentesque iaculis dolor eget porta.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div id="tekst">
					<h1> What is Roastme? </h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque iaculis dolor eget lorem venenatis porta. Proin ut aliquet nulla, sit amet interdum nulla. Proin feugiat tellus nunc, sit amet cursus lacus rutrum vel. Nunc erat elit, varius aliquam dapibus sed, euismod eget orci. Phasellus mollis lorem mattis nulla laoreet, et aliquam nisl dapibus. Phasellus ut cursus odio. Vivamus suscipit nunc posuere, faucibus ligula quis, congue metus. Nulla enim velit, semper sed leo eu, feugiat interdum augue. Praesent eget enim molestie, rhoncus nisl ac, interdum justo.
					</p>
				</div>	
			</div>
		</div>		
	</div>
</div>	